<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p> <%= aboutContent2 %> </p>

    <button type="button" class="collapsible">
        <img  class="content" src="/images/Resume.png" alt="Resume" width="700" height="900"> 
    </button>
    
    <script type="text/javascript">
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }
    </script>

<%- include("partials/footer"); -%>
