<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p> <%= aboutContent2 %> </p>

    <img src="/images/Resume.pdf" alt="Resume" width="500" height="500">


<%- include("partials/footer"); -%>
