<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p> <%= aboutContent2 %> </p>

    <img src="/images/Resume.png" alt="Resume">


<%- include("partials/footer"); -%>
