<%- include("partials/header"); -%>
    <h1>Contact Me</h1>
    <p> <%= contactContent %> </p>
    <p> Email: mattvanzoeren@gmail.com</p>
    <p> Cell Phone: 856-383-5703</p>

    <h1>References</h1>
    <h3><strong>Ken Kurtz</strong></h3>
    <p>EHS Manager, Concours Pharmaceutical  |  Ewing, NJ</p>
    <p>Ken.kurtz@gmail.com  |  732-675-1797</p>
<%- include("partials/footer"); -%>
