<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p> Email: mattvanzoeren@gmail.com</p>
    <p> Cell Phone: 856-383-5703</p>
<%- include("partials/footer"); -%>
